# ==============================
# БЛОК 1. ВЕБ-ФРЕЙМВОРК
# ==============================

# Flask используется для создания веб-интерфейса,
# маршрутов /, /check, /block, /blocked и JSON-ответов.
flask


# ==============================
# БЛОК 2. ОБРАБОТКА ТАБЛИЧНЫХ ДАННЫХ
# ==============================

# pandas используется для формирования таблиц доверенных
# и недоверенных IP-адресов в Generator_IP.py.
pandas


# ==============================
# БЛОК 3. ГЕНЕРАЦИЯ СЛУЧАЙНЫХ ДАННЫХ
# ==============================

# numpy используется для генерации случайных октетов IP-адресов.
numpy


# ==============================
# БЛОК 4. ПОДКЛЮЧЕНИЕ К POSTGRESQL
# ==============================

# psycopg2-binary нужен для подключения Python-приложения к PostgreSQL.
# В текущей версии база используется как инфраструктурный компонент
# и может быть задействована для хранения журнала блокировок в дальнейшем.
psycopg2-binary


# ==============================
# БЛОК 5. МЕТРИКИ PROMETHEUS
# ==============================

# prometheus_client используется для запуска сервера метрик на порту 8000
# и создания счётчика ip_checks_total.
prometheus_client
